# Welcome to Part 2: data manipulation

### Let's get more involved with the data!

In [1]:
# Load libraries
import pandas as pd

# Read in data
un_data = pd.read_csv('data/UN.csv')

Questions we might like to answer

1. Does the GDP per capita vary more across Latin America or Asia?
2. How different is fertility different in Africa compared to Europe?
3. Which countries are we missing data for? Is there a lot of data missing? What should we do?
4. Do the column names make sense or do we want to rename them to something more readable?

### 1.  Does the GDP per capita vary more across Latin America or Asia?

In [2]:
# Here we are selecting all countries that are in the Latin America region
latin_data = un_data[un_data['region'] == 'Latin Amer']
latin_data.head()

,country,region,group,fertility,ppgdp,lifeExpF,pctUrban,infantMortality
6,Argentina,Latin Amer,other,2.172,9162.1,79.89,93.0,12.337
18,Belize,Latin Amer,other,2.679,4495.8,77.81,53.0,16.200
22,Bolivia,Latin Amer,other,3.229,1977.9,69.40,67.0,40.684
25,Brazil,Latin Amer,other,1.800,10715.6,77.41,87.0,19.016
38,Chile,Latin Amer,oecd,1.832,11887.7,82.35,89.0,6.792

In [3]:
# Now select the Asian countries
asia_data = un_data[un_data['region'] == 'Asia']
asia_data.head()

,country,region,group,fertility,ppgdp,lifeExpF,pctUrban,infantMortality
0,Afghanistan,Asia,other,5.968,499.0,49.49,23.0,124.535
7,Armenia,Asia,other,1.735,3030.7,77.33,64.0,24.272
11,Azerbaijan,Asia,other,2.148,5637.6,73.66,52.0,37.566
13,Bahrain,Asia,other,2.430,18184.1,76.06,89.0,6.663
14,Bangladesh,Asia,other,2.157,670.4,70.23,29.0,41.786

In [4]:
print("Standard deviation of GDP in Latin America", latin_data.ppgdp.std())
print("Standard deviation of GDP in Asia", asia_data.ppgdp.std())

Standard deviation of GDP in Latin America 3775.107734883031
Standard deviation of GDP in Asia 16741.768226195738

### 2. How different is fertility different in Africa compared to Europe?

In [5]:
# Here we are selecting all countries that are in the Africa region
africa_data = un_data[un_data['region'] == 'Africa']
africa_data.head()

,country,region,group,fertility,ppgdp,lifeExpF,pctUrban,infantMortality
2,Algeria,Africa,africa,2.142,4473.0,75.00,67.0,21.458
4,Angola,Africa,africa,5.135,4321.9,53.17,59.0,96.191
19,Benin,Africa,africa,5.078,741.1,58.66,42.0,76.674
24,Botswana,Africa,africa,2.617,7402.9,51.34,62.0,35.117
28,Burkina Faso,Africa,africa,5.750,519.7,57.02,27.0,70.958

In [6]:
# Now select the equrope data
europe_data = un_data[un_data['region'] == 'Europe']
europe_data.head()

,country,region,group,fertility,ppgdp,lifeExpF,pctUrban,infantMortality
1,Albania,Europe,other,1.525,3677.2,80.40,53.0,16.561
10,Austria,Europe,oecd,1.346,45158.8,83.55,68.0,3.713
16,Belarus,Europe,other,1.479,5702.0,76.37,75.0,6.494
17,Belgium,Europe,oecd,1.835,43814.8,82.81,97.0,3.739
23,Bosnia and Herzegovina,Europe,other,1.134,4477.7,78.40,49.0,12.695

In [7]:
print("Africa:\n", africa_data.fertility.describe())
print("Europe:\n", europe_data.fertility.describe())

Africa:
 count    53.000000
mean      4.236170
std       1.303722
min       1.590000
25%       3.174000
50%       4.423000
75%       5.078000
max       6.925000
Name: fertility, dtype: float64
Europe:
 count    39.000000
mean      1.590026
std       0.231152
min       1.134000
25%       1.453500
50%       1.506000
75%       1.748000
max       2.098000
Name: fertility, dtype: float64

In [8]:
# Rather than just compare fertility, we can compare all variables at once between the two continents
print("Africa:\n", africa_data.describe())
print("\nEurope:\n", europe_data.describe())

Africa:
        fertility         ppgdp   lifeExpF   pctUrban  infantMortality
count  53.000000     53.000000  53.000000  53.000000        52.000000
mean    4.236170   2508.750943  59.772264  42.622642        65.320769
std     1.303722   3614.421856   8.689592  17.638710        27.511044
min     1.590000    114.800000  48.110000  11.000000        12.112000
25%     3.174000    509.000000  53.140000  28.000000        46.936000
50%     4.423000    980.700000  58.590000  40.000000        67.017500
75%     5.078000   2865.000000  63.820000  59.000000        85.880000
max     6.925000  16852.400000  78.000000  86.000000       123.940000

Europe:
        fertility          ppgdp   lifeExpF   pctUrban  infantMortality
count  39.000000      39.000000  39.000000  39.000000        39.000000
mean    1.590026   27393.938462  80.690769  70.461538         6.121744
std     0.231152   23819.911213   3.119599  13.118581         3.793586
min     1.134000    1625.800000  73.480000  48.000000         2.057000
25%     1.453500    8936.900000  78.340000  61.000000         3.500000
50%     1.506000   19599.200000  81.370000  69.000000         4.488000
75%     1.748000   41835.950000  83.080000  80.000000         7.216500
max     2.098000  105095.400000  84.900000  97.000000        16.561000

### 3. Which countries are we missing data for? Is there a lot of data missing? What should we do?

In [9]:
# Selecting the rows of the dataframe that contain NAs values for the region column
un_data[un_data.region.isna()]

,country,region,group,fertility,ppgdp,lifeExpF,pctUrban,infantMortality
3,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,11.293887
37,Channel Islands,NaN,NaN,NaN,NaN,NaN,NaN,8.169000
66,French Guiana,NaN,NaN,NaN,NaN,NaN,NaN,12.714000
76,Guadeloupe,NaN,NaN,NaN,NaN,NaN,NaN,6.725000
77,Guam,NaN,NaN,NaN,NaN,NaN,NaN,8.070000
118,Martinique,NaN,NaN,NaN,NaN,NaN,NaN,7.158000
121,Mayotte,NaN,NaN,NaN,NaN,NaN,NaN,5.884000
140,Niue,NaN,NaN,NaN,NaN,NaN,NaN,7.800000
142,Northern Mariana Islands,NaN,NaN,NaN,NaN,NaN,NaN,4.859086
158,Reunion,NaN,NaN,NaN,NaN,NaN,NaN,5.884000
190,Tokelau,NaN,NaN,NaN,NaN,NaN,NaN,31.250000
202,United States Virgin Islands,NaN,NaN,NaN,NaN,NaN,NaN,9.990000
208,Wallis and Futuna Islands,NaN,NaN,NaN,NaN,NaN,NaN,5.200000
209,Western Sahara,NaN,NaN,NaN,NaN,NaN,NaN,36.350000

In [10]:
un_data.head()

,country,region,group,fertility,ppgdp,lifeExpF,pctUrban,infantMortality
0,Afghanistan,Asia,other,5.968,499.0,49.49,23.0,124.535000
1,Albania,Europe,other,1.525,3677.2,80.40,53.0,16.561000
2,Algeria,Africa,africa,2.142,4473.0,75.00,67.0,21.458000
3,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,11.293887
4,Angola,Africa,africa,5.135,4321.9,53.17,59.0,96.191000

In [13]:
# What is actually being done here? Take your time. Ask if you are not sure
# For further help, take a look at the un_data.head()
un_data['number_nas'] = un_data.isna().sum(axis=1)

In [14]:
# We have added a column called 'number_nas', which contains the number of NAs that appear in that column
un_data.head()

,country,region,group,fertility,ppgdp,lifeExpF,pctUrban,infantMortality,number_nas
0,Afghanistan,Asia,other,5.968,499.0,49.49,23.0,124.535000,0
1,Albania,Europe,other,1.525,3677.2,80.40,53.0,16.561000,0
2,Algeria,Africa,africa,2.142,4473.0,75.00,67.0,21.458000,0
3,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,11.293887,6
4,Angola,Africa,africa,5.135,4321.9,53.17,59.0,96.191000,0

In [15]:
# We find the maximum number of NAs that appear in any column and give that value the name max_nas
max_nas = max(un_data['number_nas'])
print(max_nas)

6

The next lines are more complicated. Take your time to understand what is going on here

In [16]:
# Here we have another for loop. 
# What does the range function do?
# Try changing range(5) to range(1, 10, 2). What does this do?
for i in range(5):
    print(i)

0
1
2
3
4

In [17]:
# Now a for loop based on our data
# Make sure you understand what is going on here. Ask if you are not sure
for n_missing in range(max_nas + 1):
    print("There are ", sum(un_data['number_nas'] == n_missing), " countries with ", n_missing, "NaNs.")

# Why are we using range(max_nas + 1)?

There are  193  countries with  0 NaNs.
There are  6  countries with  1 NaNs.
There are  0  countries with  2 NaNs.
There are  0  countries with  3 NaNs.
There are  0  countries with  4 NaNs.
There are  0  countries with  5 NaNs.
There are  14  countries with  6 NaNs.

In [18]:
# Here we list the countries that contain a single NA in the row
print(un_data[un_data['number_nas'] == 1].country)

5            Anguilla
20            Bermuda
34     Cayman Islands
53           Dominica
74          Greenland
168        Seychelles
Name: country, dtype: object

In [19]:
# And let's list the countries that contain a six NAs in the row
print(un_data[un_data['number_nas'] == 6].country)

3                    American Samoa
37                  Channel Islands
66                    French Guiana
76                       Guadeloupe
77                             Guam
118                      Martinique
121                         Mayotte
140                            Niue
142        Northern Mariana Islands
158                         Reunion
190                         Tokelau
202    United States Virgin Islands
208       Wallis and Futuna Islands
209                  Western Sahara
Name: country, dtype: object

In [20]:
# Based on these results we probably want to remove all the rows that contain six NAs from our table
# We are modifying the existing dataframe. Note the dimensions before and afterwards. We have removed 14 rows, as expected
print(un_data.shape)
un_data = un_data[un_data.number_nas != 6] # The '!=' operator mean 'not equal to' 
print(un_data.shape)

(213, 9)
(199, 9)

### 4. Do the column names make sense or do we want to rename them to something more readable?

In [21]:
# Lets look at the column names
un_data.columns

# We can see that some of them are not very well named, so maybe we want to rename them

Index(['country', 'region', 'group', 'fertility', 'ppgdp', 'lifeExpF',
       'pctUrban', 'infantMortality', 'number_nas'],
      dtype='object')

In [22]:
# We can rename columns of the dataframe by specifying the old and new columns of the ones we want to rename
un_data.rename(columns = {'fertility':'fertilityRate', 'ppgdp':'GDPperperson'}, inplace = True)

In [23]:
# You can see that the column names have now changed
un_data.head()

,country,region,group,fertilityRate,GDPperperson,lifeExpF,pctUrban,infantMortality,number_nas
0,Afghanistan,Asia,other,5.968,499.0,49.49,23.0,124.535,0
1,Albania,Europe,other,1.525,3677.2,80.40,53.0,16.561,0
2,Algeria,Africa,africa,2.142,4473.0,75.00,67.0,21.458,0
4,Angola,Africa,africa,5.135,4321.9,53.17,59.0,96.191,0
5,Anguilla,Caribbean,other,2.000,13750.1,81.10,100.0,NaN,1

In [24]:
# If we want to rename many columns at once we may want specify an array of all the column names (in order)
un_data.columns = ['country', 'region', 'group', 'fertilityRate', 'GDPpp', 'lifeExpectancy', 
                   'percentageUrban', 'infantMortality', 'numberNas']

In [25]:
un_data.head()

,country,region,group,fertilityRate,GDPpp,lifeExpectancy,percentageUrban,infantMortality,numberNas
0,Afghanistan,Asia,other,5.968,499.0,49.49,23.0,124.535,0
1,Albania,Europe,other,1.525,3677.2,80.40,53.0,16.561,0
2,Algeria,Africa,africa,2.142,4473.0,75.00,67.0,21.458,0
4,Angola,Africa,africa,5.135,4321.9,53.17,59.0,96.191,0
5,Anguilla,Caribbean,other,2.000,13750.1,81.10,100.0,NaN,1

### Saving a dataframe to csv

In [26]:
# We can now save our modified data frame as a new csv file
un_data.to_csv('data/UN_modified.csv')

### Take few minutes to try running some lines of code to explore the data further. Don't hesitate to ask your instructor for any further help.